{namespace todo.App.templates}


/**
 * Container template
 */
{template .container}
  <div class="mainContainer"></div>
{/template}


/**
 * Toolbar template
 */
{template .toolbar}
  <div class="toolbar">
    <a id="delete"></a>
    <a id="add"></a>
  </div>
{/template}

